# Python
.venv/
__pycache__/
*.py[cod]

# Environment variables and secrets
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Azure credentials/certificates
*.pem
*.key